[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git

	[submodule "external/ImGuiFileDialog"]
	  path = external/ImGuiFileDialog
	  url  = https://github.com/aiekick/ImGuiFileDialog.git
